@import "settings";
@import "foundation";

//----------------------------------------------------------------------
// Fonts
//----------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);

@font-face {
  font-family: 'EntypoSocialRegular';
  src: url('fonts/entypo-social.eot');
  src: url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
       url('fonts/entypo-social.woff') format('woff'),
       url('fonts/entypo-social.ttf') format('truetype'),
       url('fonts/entypo-social#EntypoRegular') format('svg');
       font-weight: normal; 
       font-style: normal;
}

//----------------------------------------------------------------------
// Variables
//----------------------------------------------------------------------
$deemphasized-text-color: darken($secondary-color, 20%);
$header-font-family: 'Montserrat', 'Myriad Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
}

//----------------------------------------------------------------------
// Header
//----------------------------------------------------------------------
.page-header,
.page-nav {
}

.page-header {
	margin-bottom: 2.5rem;
	color: #666;
}

.title {
	font-family: $header-font-family;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

#projects-dropdown,
.page-nav h6 {
	font-family: $body-font-family;
}

#projects-dropdown {
	text-align: left;

	li {
		display: block;
		margin-right: 0.5rem;
		font-size: 0.9rem;
	}
}

.page-nav h6 {
	margin-top: 1rem;
	font-size: 0.9rem;
	font-weight: 200;
	text-transform: uppercase;
}

.subtitle {
	font-family: Cardo, Baskerville, Times, 'Times New Roman', serif;
	font-style: italic;
}

//----------------------------------------------------------------------
// Portfolio List
//----------------------------------------------------------------------
.portfolio-item {

}

.item-image {
	margin-bottom: 0.7rem;
}

.item-link {
	font-size: 1rem;
}

.tags,
.item-date {
	font-size: 0.9rem;
}

.tags,
.item-date {
	color: $deemphasized-text-color;
}

//----------------------------------------------------------------------
// Portfolio Item
//----------------------------------------------------------------------
.title-dropdown {
	cursor: pointer;
}

.caret {
	font-size: 1rem;
}

#projects-dropdown {
	font-family: $body-font-family;

	header {
		padding-left: 0.5rem;
		font-weight: 300;
	}
}
.projects-dropdown-icon {
	span {
		top: -0.2rem !important;
	}
}

.item-summary {
	font-family: $body-font-family;
	margin-bottom: 1rem;
}

.item-info-panel {
	@include panel();

	background: none;
	border: none;
	padding-top: 0;
	padding-left: 0;

	ul {
		list-style-type: none;
		margin-left: 0;
	}
}

.info-item-list {
	margin-left: 0;
	margin-bottom: 0.68rem;
	font-size: 0.85rem;
}

.item-info-header {
	font-size: 0.7rem;
	font-family: $header-font-family;
	color: $deemphasized-text-color;
	text-transform: uppercase;
}

.project-section {
	margin-top: 1.5rem;
}

ul[data-orbit] {
	li {
		background-color: white;
		overflow: hidden;
		cursor: -webkit-zoom-in !important; 
		cursor: -moz-zoom-in !important;
		height: 400px;
	}

	a,img {
		margin: 0 auto;
	}
}

ul[data-clearing] {
	display: none;
}

.project-slideshow {
}

.project-cover {
	max-height: 400px;
}

.project-description {

	p {
		font-size: 0.85rem;
	}

}

//----------------------------------------------------------------------
// Utilities
//----------------------------------------------------------------------
.centered-inline-list {
	list-style-type: none;
	text-align: center;

	li {
		display: inline-block;
		margin-right: 1.3rem;
	}
}

//----------------------------------------------------------------------
// Footer
//----------------------------------------------------------------------
footer {
	font-size: 0.8rem;
	padding-bottom: 0.7rem;
}

.social-icons {
	margin-top: 1em;

	li {
		margin-right: 0.5em;
	}
}

// https://gist.github.com/pnull/4510484
.social-icon {
	font-family: 'EntypoSocialRegular';
	font-size: 2rem;
	font-weight: normal;
	line-height: 1;

	&.linkedin:before {
	content: '\F318';
	}

	&.twitter:before {
		content: '\F309';
	}

	&.github:before {
		content: '\F300';
	}
}