@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500);

body {
  background: #fefefe;
  border-top: 8px solid #50E3C2;
  color: #222;
  font-family: "Proxima Nova", "Avenir Next", "Work Sans", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  padding-top: 160px;
  padding-left: 48px;
  padding-right: 48px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

a {
  color: #50E3C2;
  font-weight: 500;
  text-decoration: none;
}

.title {
  font-weight: 500;
}

.links {
  margin-top: 64px;
  font-size: 14px;
}
